:root {
    --dinosaur-size: 100px;
    --collectible-size: 50px;
    --tree-width: 100px;
    --tree-height: 150px;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

#gameArea {
    width: 90vmin;
    height: 90vmin;
    max-width: 600px;
    max-height: 600px;
    border: 3px solid #000;
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    touch-action: none;
    background-color: #fff;
}

#dinosaur {
    width: var(--dinosaur-size);
    height: var(--dinosaur-size);
    background: url('dino.png') no-repeat center center;
    background-size: contain;
    position: absolute;
    border-radius: 10px;
}

.collectible, .tree {
    position: absolute;
}

.collectible {
    width: var(--collectible-size);
    height: var(--collectible-size);
    background: url('viande.png') no-repeat center center;
    background-size: contain;
    border-radius: 5px;
}

.tree {
    width: var(--tree-width);
    height: var(--tree-height);
    background: url('arbre.png') no-repeat center center;
    background-size: contain;
}

#score {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: #000;
}
