body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

#gameArea {
    width: 80%; /* Ajustez selon la taille souhaitée */
    height: 80%; /* Ajustez selon la taille souhaitée */
    border: 3px solid #000;
    position: relative;
    touch-action: none; /* Important pour iOS */
}

#cube {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    border-radius: 10px; /* Pour un meilleur rendu visuel */
}

